  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h5>Purser Technologi er et enkeltmannsforetak som driver med IT support. Jeg kan hjelpe med</h5>
      <p>
      <ul>
      <li>Installasjon av programvare</li>
      <li>Oppsett av Server</li>
      <li>Installasjon og feilsøking av Nettverk</li>
      <li>Feilsøking av Windows og Linux</li>
      <li>Arrangering av lan-parties</li>
      <li>Reinstallasjon av operativsystem</li>
      </ul>
      </p>
      <hr />
    </div>
  </div>
  <div class ="container">
