<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><p class="navbar-brand">{{ site.name }}</p></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
    {% for page in site.pages %}
      {% if page.title %}
        {% if page.url != "/index.html" %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div class="sidebar-nav">
    <ul id="sidebar-brand-ul"><li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a></li>
    
    {% for page in site.pages %}
      {% if page.title %}
        {% if page.url != "/index.html" %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
    <hr>
    <ul id="social-wrapper">
      {% if site.twitter %}
      <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li>
      {% endif %}
      {% if site.linkedin %}
      <li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>
      {% endif %}
      {% if site.facebook %}
      <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> facebook</a></li>
      {% endif %}
      {% if site.github %}
      <li> <a href="{{ site.github }}"><i class="fa fa-github-square"></i> github</a> </li>
      {% endif %}
    </ul>
  </div>
</div>
